<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-init-method="init" default-destroy-method="destroy">


	<bean id="conceptStorageService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="rmi://localhost:9999/conceptStorageService" />
		<property name="serviceInterface" value="org.biosemantics.conceptstore.common.service.ConceptStorageService" />
	</bean>
	
	<bean id="conceptStorageController" class="org.biosemantics.disambiguation.web.viewer.server.ConceptStorageController">
		<property name="conceptStorageService" ref="conceptStorageService"></property>
	</bean>
</beans>
