@charset "utf-8";
body { margin:0; padding:0; width:100%; background: #f8f8f8;}
html { padding:0; margin:0;}

.main { margin:0 auto; padding:0;}
.resize { width:960px; padding:0; margin:0 auto;}
/********** header **********/
.header_resize { margin:0; padding:0;}
.header { width:960px; padding:0; margin:0 auto; border-bottom:1px dashed #c4c4c4; }
.header_blog { background:url(../images/header_blog_bg.gif) top center repeat-x; padding:0; margin:0;}
.header_blog h2 { font: normal 14px Arial, Helvetica, sans-serif; color:#6d6d6d; padding:20px 0 0 0; margin:0;}
.header_blog p { font: normal 11px Arial, Helvetica, sans-serif; color:#a2a2a2; padding:0 0 30px 0; margin:0;}
/* 2 */
.header_blog2 { width:960px; background: url(../images/header_block2_bg.gif) top center no-repeat; padding:0; margin:0 auto; height:96px;}
.header_blog2 h2 { font: normal 24px Arial, Helvetica, sans-serif; color:#fff; padding:30px 0 0 20px; margin:0; width:200px; float:left;}
.header_blog2 p { width:300px; float:right; font: normal 11px Arial, Helvetica, sans-serif; color:#afe5ec; padding:30px 0 0 0; margin:0;}
/* logo */
.logo {padding:0; margin:0; width:143px; float:left;}
/*menu*/
.menu { padding:40px 0 0 0; margin:0 ; width:410px;  float:right; }
.menu ul { text-align: right;  padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:12px 0; color:#9a9a9a; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a:hover { color:#4c909f;}
.menu ul li a.active { color:#4c909f;}

/* search */
.search { padding:20px 0 0 0; margin:0; width:260px; float:right;}
.search form { float:right; padding:0; margin:0;}
.search span { display:block; float:left; background: url(../images/search_bg.gif) left top no-repeat; width:146px; padding:1px 5px; height:31px;}
.search form .keywords { width:149px; line-height:14px; height:14px; float:left; background:none; border:0; padding:6px 2px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#acacac;}
.search form .button { float:left; margin:0; padding:0;}
/* body */
.body_resize { background: url(../images/body_bg.gif) top repeat-y; padding:0; width:960px; margin:0 auto;}
.body_resize_top { background:url(../images/body_top_bg.gif) top no-repeat;}
.body_resize_bottom { margin:0; width:960px; background:url(../images/body_bottom_bg.gif) bottom no-repeat; padding:10px 0px;}
/* BODY */
.body { padding:10px 0; margin:0 auto;}
.body h2 { font:normal 18px Arial, Helvetica, sans-serif; color:#2a2a2a; border-bottom:1px dashed #c4c4c4; padding:10px 5px; margin:0 0 10px 0;}
.body h3 { font: bold 12px Arial, Helvetica, sans-serif; color:#565656; padding:10px 5px; margin:0;}
.body p { font:normal 11px Arial, Helvetica, sans-serif; color:#6d6d6d; line-height:1.8em; padding:3px 5px; margin:0;}
.body p span { color:#4a8c9c; font: normal 14px Arial, Helvetica, sans-serif;}
.body a { color:#4a8c9c; text-decoration:none;}
.body img { margin:10px auto; padding:0;}
.body img.floated { float:right; margin:5px 5px; padding:0;}
.right { width:640px; margin:0; padding:10px 20px; float:right;}
.left {width:240px; margin:0; padding:10px 20px; float:left;}
.left_blog {width:200px; margin:0 4px; padding:0; float:left;}
.center { margin:0; padding:10px 20px;}
.center_resize { width:280px; float:left; padding:10px; margin:0;}
/*FBG*/
.FBG {margin:0; padding:0;}
.FBG_resize { width:970px; margin:0 auto; padding:20px 10px;}
.FBG_resize ul { list-style:none; margin:10px auto; padding:0;}
.FBG_resize li { padding:0; margin:0;}
.FBG_resize li a { font: normal 11px Arial, Helvetica, sans-serif; color:#989898; text-decoration:none;}
.FBG_resize li a:hover { color:#2a2a2a;}
.FBG_resize h2 { font: normal 14px Arial, Helvetica, sans-serif; color:#2a2a2a; padding:10px 0; margin:0; border-bottom:1px dashed #c4c4c4;}
.FBG_resize .left { width:120px; float:left; margin:10px 10px 10px 20px; padding:10px 5px;}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:80px; display:block; padding:10px 0; color:#222222; font: normal 11px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:500px; border:1px solid #eaeaea; margin:2px 0; padding:5px 2px; height:16px; background:#f8f8f8; float:left; }
#contactform textarea { width:500px; border:1px solid #eaeaea; margin:2px 0; padding:2px; background:#f8f8f8; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0px; margin:10px 0 0 0; border:0; color:#FFF; float:left; }

/*************footer**********/
.footer_resize { width:960px; margin:0 auto; padding:0;}
.footer {padding:0;  margin:0; background:url(../images/footer_bg.gif) top repeat-x;}
.footer img { float:left; margin:0; padding:0;}
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#adadad;}
.footer a { font:bold 11px Arial, Helvetica, sans-serif; color:#8d8d8d; text-decoration:none; padding:5px; margin:0;}
.footer span { padding:10px 0 0 0; margin:0;}
.footer p.rightt { text-align:left; width:35%; margin:0; padding:20px 20px 0 0; float:right;} 

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { float:right; clear:both; border-top:1px solid #e1e1e1; width:100%; padding:0; margin:5px 0; background:none; line-height:0;}

/* Slider */
#slider {  width:963px; padding:0 0 0 0; margin:0 auto;}
div#slideshow { float: left; width: 100%; height: 404px; }
.slider-item { width: 100% !important; height: 377px; }
.slider_content_inner img { border: none; }
.controls-center { width: 960px; margin-left: auto; margin-right: auto; }
#slider_controls { float: right; position: relative; background: url(../images/tabs_bg.gif) no-repeat top center; margin:0; z-index: 1000; width:960px; height:43px;}
#slider_controls ul { margin:0 auto; padding:15px 0 0 0; width:54px;}
#slider_controls ul li { margin: 0; padding: 0; list-style: none; }
#slider_controls ul li { float: left; display: block; }
#slider_controls ul li a { width: 10px; height: 10px; background:url('../images/tabs_2.gif') no-repeat center center; display: block; float: left; padding:2px; margin:2px !important; margin:1px 1px; outline: none; }
#slider_controls ul li a:focus { outline: none; }
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide { background:url('../images/tabs_1.gif') no-repeat center center; }